<div class="d-flex justify-content-center">
  <div class="container no-gutters p-0">
    <div class="row no-gutters" style="padding:250px 0;">
      <div class="col">
        <div class="row no-gutters">
          <div class="col d-flex justify-content-center">
            <span class="heading-text text-center animated animatedFadeInUp fadeInUp">Inovite</span>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col d-flex justify-content-center">
            <span class="subheading-text text-center animated animatedFadeInUp fadeInUp">people + innovation syncing platform</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md">
        <div class="blue-box">
          <div class="blue-box-text px-md-5 pt-md-5 px-5 pt-5">What it is</div>
          <div class="blue-box-text p-md-5 p-5">Inovite is a people + innovation syncing platform that allows anyone on any level in an organization to pitch ideas to their direct team, other teams, or even the entire company.</div>
          <div class="blue-box-text px-md-5 px-5">Not all ideas are heard in an organization.</div>
          <div class="blue-box-text pl-md-5 py-md-5 pl-5 py-5">We want to fix that.</div>
        </div>
      </div>
      <div class="col-md pt-5 pt-md-0 d-flex justify-content-center align-items-center">
        <img class="geometric-shape px-5" src="/assets/img/png/geometric-shape.png"/>
      </div>
    </div>
    <div class="row mx-md-5 my-5">
      <div class="col d-flex justify-content-center text-center">
<!--        <div class="dark-text pt-md-5">How it works</div>-->
        <div class="dark-text p-md-5">Spring 2020</div>
      </div>
    </div>
<!--    <div class="row mx-md-5">-->
<!--      <div class="col">-->
<!--        <div class="content-box px-5">-->
<!--          <div class="row py-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text" style="color: #47A9BB!important">For Teammates</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 1:&nbsp;<span style="color: #999999!important">A teammate pushes an anonymous idea (no more than 140 characters) to the platform. At this point, the teammate also chooses the target team(s) to receive the push notification.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 2:&nbsp;<span style="color: #999999!important">Each member of the target team(s) will be alerted that a new anonymous idea has been pushed.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 3:&nbsp;<span style="color: #999999!important">Each member of the target team(s) will be asked to choose either <span style="color:#71AD41!important">Yes</span>, <span style="color:#AD4D41!important">No</span>, or <span style="color:#4782BB!important">More Info</span> (if any extra clarification is needed). Choosing “More Info” will begin a private chat conversation between the two team members. Similarly, if the target team member chooses “No”, they will be required to explain why they made their decision.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-note-text">Note:&nbsp;<span style="color: #BFBFBF!important">It is highly recommended that everyone in the target team(s) is/are required to make a decision. That way, everyone must have the best interest of others in mind at all times.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 4:&nbsp;<span style="color: #999999!important">If the idea gets above an 80% (default, adjustable) minimum approval rating, the idea then gets pushed to the leader/manager of the team for the final decision to be made. At this point, everyone in the organization has visibility into who pushed the original idea as well as the final decisions of everyone on the target team(s). This includes the leader's/manager's decision once it has been made. This will maximize accountability for all parties involved.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-note-text"><span style="color: #BFBFBF!important">The benefit of this process will ensure all of the best ideas instantly bubble up to the top position of someone who can take action.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row mx-md-5 my-5">-->
<!--      <div class="col">-->
<!--        <div class="content-box px-5">-->
<!--          <div class="row py-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text" style="color: #71AD41!important">For Leadership/Managment</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 1:&nbsp;<span style="color: #999999!important">A teammate in a leadership/manager role pushes a challenge (no character count restrictions) that they want solved to the platform. At this point, the leader/manager also chooses the target team(s) to receive the push notification.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 2:&nbsp;<span style="color: #999999!important">Each target team member will be alerted that a new challenge has been pushed.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 3:&nbsp;<span style="color: #999999!important">Each target team member can choose to either suggestion a solution, skip, or ask a publicly visible question. The solutions are invisible until all target team members have responded.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-text">Step 4:&nbsp;<span style="color: #999999!important">When all target teammates have submitted their solutions, all of the potential solutions will be shown to everyone on the target team(s). They will then be asked to choose the best idea (other than their own). This will allow the solutions to be ranked by popularity to aid in the final decision making. The leader/manager will be able to see all solutions and who on the team suggested them, but only after the final selection has been made.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row pb-5">-->
<!--            <div class="col">-->
<!--              <div class="content-box-note-text"><span style="color: #BFBFBF!important">If additional support for a particularly challenging problem is needed, we also offer our <span class="dark-text" style="color:#333333!important">Inovite Consulting Services</span>.<br><br>Our team of expert problem solvers will work night and day to find the most efficient and effective solution guaranteed to maximize the benefit of all parties involved.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="row content-box-footer">
      <div class="col d-flex justify-content-center">
        <div class="p-5 text-center">&copy; 2019 Inovite<br><br>I am not a designer.</div>
      </div>
    </div>
  </div>
</div>
